scalashop/project/project/target
scalashop/project/target
scalashop/target
example/project/project/target
example/project/target
example/target
target/.*
week2/project/target
week2/target
week2/project/project/target
week4/project/project/target
week4/project/target
week4/target
